.logo-cus {
    margin-left: 8% !important;
    font-size: 30px;
}
.nav-list {
    margin-right: 25% !important;
}
.nav-list > li {
    /* padding-right: 15%; */
    padding-left: 10%;
}
.nav-bar-cus {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main {
    margin-top: 10%;
}
.img{
    width:100%;
    height:400px;
}

.btn-style{
    background-color: #5054f9!important;
    border-radius: 20px;
}
.btn-rounded {
    border-radius: 20px;
}

.home-icons {
    width: 125px ;
    height:125px;
}

.card-cus{
    border: none !important;
}
.card-cus:hover{
    border: none !important;
    border:1px solid #ececec;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-cus-body{
    padding-top: 0px !important;
}
.overlay-div{
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
   
    /* opacity: 0.8; */
}

.overlay{
    position: relative;
    margin-top: 100px !important;
}

.stack-top {
    top: -100px;
    z-index: 9;
    margin-left:0px !important;
    margin-right:0px !important;
}

.stack-bottom {
    top: 400px;
    z-index: 10;
    margin-left:0px !important;
    margin-right:0px !important;
    /* opacity:0.8; */
}

.stack-top-col {
    margin-top: -10% !important;
    margin-bottom: 10% !important;
}

.stack-top-card {
    background: transparent !important;
    border: none !important;
    color:#ffffff;
}

.stock-btm-cus-col {
    padding:0px !important;
   
}
.stock-btm-cus-col .card {
    padding: 30px !important;
    width: 13em !important;
   
}
.stock-btm-cus-col img {
    width:50px;
    height:50px;
   
}
.rounded-img{
    border-radius: 50%;
    width:100px;
    height:100px;
    margin: 10px;
    
}
.client-img{
    padding-top: 25px;
 
}
.client-img > img{
   border: 3px solid #5054f9 ;
 
}
/* img.rounded-img:nth-child(3) {
    border-radius: 50%;
    width:150px !important;
    height:150px !important;
} */
.client-img-row{
    margin-top: 5%;
    margin-bottom:5%;
    padding-top: 60px;
}

.client-text {
    margin-top: 2%;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

.rating-star{
    font-size: 20px;
    color: orange;
    margin: 2px;
}

.line-cus {
    width: 15%;
    height: 2px;
    border-width: 0;
    background:#4627ef8f;
}
.icon-style-cus {
    background-color: #5054f9;
    color: white;
    border-radius: 50%;
    padding: 6px;
    font-size: 14px;
    height: 25px;
    width: 25px;

}

.price-card-cus {
    margin:2em;
}
.price-card-cus > .card {
    border: none !important;
}

.price-card-cus:hover {
    border: none !important;
    border:1px solid #ececec;
    border-radius: 2%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pricing-container {
    margin-top: 10% !important;
}

.client-info {
    background-color: #5054f9!important;
    height: 90% !important;
    padding: 2%;
    border-radius: 7px;
}
.client-info-img > img {
    margin-top: -3%;
    margin-left: -46px;
    height: 98px;
    
}
/* .price-card-cus:nth-child(1),.price-card-cus:nth-child(3) {
    padding-top:3% !important;
}
.price-card-cus > .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.price-card-prof > .card {
    height: 500px;
    width:300px;
} */

ul {
    list-style-type:none;
}
a {
    text-decoration: none !important;
}

.clinet-bg{
    background-repeat:no-repeat;
    background-size:100% 100%;
    background-position:center;
}
